@import 'normalize.css';
@import url('https://fonts.google.com/specimen/IBM+Plex+Sans?query=ibm+');

:root {
    --primary: #fe2c55;

    //default layout
    --defalut-layout-header-height: 60px;
    --defalut-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
